<tr>
  <td><%= incoming_rfq_item.part_number %></td>
  <td><%= incoming_rfq_item.description %></td>
  <td><%= incoming_rfq_item.quantity %></td>
  <td><%= incoming_rfq_item.required_delivery_date %></td>
</tr>