<% part = Part.where(:part_number => incoming_rfq_item.part_number).find(params[:id]) %>
<tr>
  <td><%= link_to incoming_rfq_item.part_number, part %></td>
  <td><%= incoming_rfq_item.description %></td>
  <td><%= incoming_rfq_item.quantity %></td>
  <td><%= incoming_rfq_item.required_delivery_date %></td>
</tr>